<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form id="signupv" name="signupv" method="post" action="/signup">
    <label for="emailId">Email Address</label>
    <input class="text" name="emailId" type="email" />
    <label for="firstName">Firstname</label>
    <input name="firstName" type="text" />
    <label for="lastName">Lastname</label>
    <input name="lastName" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign Up" />
</form>
</body>
</html>