<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- ajax -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Google Sign-In -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="1088594168504-ihgih6n9slh7kgspgafravg8q02fg6p9.apps.googleusercontent.com">
</head>
<body>
<form id="signupv" name="signupv" method="post" action="/signup">
    <label for="emailId">Email Address</label>
    <input class="text" name="emailId" type="email" />
    <label for="firstName">Firstname</label>
    <input name="firstName" type="text" />
    <label for="lastName">Lastname</label>
    <input name="lastName" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign Up" />
</form>
<form action="/auth/github">
  <input type="submit" value="Sign up with GitHub" class="github-button" />
</form>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
  function onSignIn(googleUser) {
      console.log('TEST PITIE FOCNTIONNE');
  }
  // function onSignIn(googleUser) {
  //   var id_token = googleUser.getAuthResponse().id_token;
  //   var xhr = new XMLHttpRequest();
  //   xhr.open('POST', '/signin-google');
  //   xhr.setRequestHeader('Content-Type', 'application/json');
  //   xhr.onload = function() {
  //     if (xhr.status === 200) {
  //       window.location.href = '/home';
  //     } else {
  //       alert('Failed to sign in with Google');
  //     }
  //   };
  //   xhr.send(JSON.stringify({ id_token: id_token }));
  // }
</script>
</body>
</html>